<!--
<div class="card-group">

    <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="teste.avatar_url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{teste.login}}</h5>
            <p class="card-text">Testando</p>
             <a href="#" class="btn btn-primary">{{ teste.location + ' ' + teste.company }}</a>
        </div>
    </div>
</div>





  <input type="text" (change)="inputUser($event.target.value)">

  <button (click)="chamarApi()"> PEGAR DADOS</button>
<input type="text" id="inputDadosPlayer" name="inputDadosPlayer" (input)="this.inputPlayer=$event.target.value">
  {{teste.repos_url}}
-->


<div class="card-body" style="margin-left: 34%;">
  <div class="row row-cols-1 row-cols-md-3">
        <div class="card h-100">
            <img [src]="user.avatar_url">
              <div class="card-body">
                  <h5 class="card-title">{{user.login}}</h5>
                  <p class="card-text">{{ user.bio }}</p>
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">{{ user.location + ' ' + user.company }}</a>
                  </div>
            </div>
        </div>

  </div>

        <div>
            <input class="input-group-prepend" type="text" (change)="inputUser($event.target.value)">
              <br>
            <button class="btn btn-primary" (click)="chamarApi()"> PEGAR DADOS</button>
            <button class="btn btn-secondary" (click)="chamarApiRepo()"> PEGAR REPOSITORIO </button>
        </div>
</div>


  <div class="container">
    <div class="col-md-6">
      <table class="table table-striped" *ngFor="let item of getrepositorios" >
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">private</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.private }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
